/* liste de couleur
gris = #535353
blue de google = #5187EB
 */
 *{
   margin: 0;
   padding: 0;
 }
body{
  background: #FFF;
  font-family: arial;
  font-size: 13px;
  height: calc(100vh - 110px);
}
a{
  color: #535353;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
ul{
  margin : 0;
  padding: 0
}
nav{
  padding: 10px;
}
label{
  position: relative;
  left: -40px;
  top: 10px;
}
nav ul{
  list-style: none;
  float: right;
}
li{
  display: inline;
  margin-right: 10px;
}
#logo{
  clear: both;
  text-align: center;
  padding-top: 150px;
}
#logo img{
  width: 272px;
  height: 92px;
}
#bar{
  text-align: center;
  margin-top : 25px;
}
#input{
  width: 45%;
  height: 44px;
  border: 1px #F9F9F9 solid;
  font-size: 16px;
  transition: ease-in-out .1s;
  box-shadow: 1px 2px 3px #888;
}
#input:hover{
  box-shadow: 1px 7px 10px #D4D4D4;
}
#bar .micro{
  width: 20px;
  position: relative;
  left: -40px;
  top: 10px;
}
.menu{
  width: 15px;
  opacity: .6;
}
.menu:hover{
  width: 15px;
  opacity: 1;
}
.cnx a{
  color: #fff;
  font-weight: bold;
  background: #5187EB;
  padding: 5px;
  border-radius: 2px;
}
.cnx a:hover{
  box-shadow: 0px 1px 3px #000;
  text-decoration: none;
}
#bouton_intro{
  height: 36px;
  background: #F7F7F7;
  border: none;
  font-weight: bold;
  color: #777;
  font-size: 13px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.recherche_google{
  margin-top: 30px;
  text-align: center;
}
.recherche_google button{
  height: 36px;
  padding: 0px 15px;
  background: #F7F7F7;
  border: solid 1px #EEE;
  font-weight: bold;
  color: #777;
  font-size: 13px;
  transition: .1s ease-in;
}

.recherche_google button:hover{
  color: #000;
  border: solid 1px #EEE;
  font-weight: bold;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
p{
  text-align: left;
  padding-left: 15px;
  margin: 0;
}
.info{
  padding: 15px;
  flex :1;
}
.infobis{
  padding: 15px;
  flex :2;
  text-align: right;
}

.informations{
  display: flex;
}

footer{
  width: 100%;
  background : #F2F2F2;
  height: 92px;
  border-top: solid 1px #E4E4E4;
  color: #535353;
}

footer ul{
  border-top: solid 1px #E4E4E4;
}
footer p{
  padding: 15px;
}


#central {
  visibility:hidden;
  height: 100%;
}





/* test *************/

@media (max-width: 900px) {
  body{
    min-height: calc(100vh - 79px);
  }
    #central #input{
        width: 370px;
    }
}
@media (max-width: 450px) {
  #logo img{
    width: 50%;
    height: auto;
  }
    .micro{
      display: none;
    }
    footer .infobis{
      display: none;
    }
}
